@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --cor-primaria: #982417;
  --cor-font1: #fff0d1;
  --cor-font2: #c7ab72;
}

body {
  font-size: 62.5%;
}

/* HEADER */

.header {
  background-color: var(--cor-primaria);
  height: 176px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.cofee-icon {
  color: var(--cor-font1);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Just Me Again Down Here", cursive;
  font-size: 80px;
  color: var(--cor-font1);
}

.header__span {
  color: var(--cor-font2);
}

.header__nav {
  display: flex;
  font-family: "Just Me Again Down Here", cursive;
  font-size: 40px;
  color: var(--cor-font1);
  position: relative;
  bottom: -9px;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 16px;
}

.beneficios {
  color: var(--cor-font1);
  border-bottom: 4px solid var(--cor-font1);
}
.header__nav-link {
  text-decoration: none;
  color: var(--cor-font1);
  padding: 10px;
}

/* /HEADER */

/* BANNER */

.banner__container {
  background-image: url(../Images/Banner1.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 75%;
  height: 528px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-text {
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  width: 25%;
  padding: 20px 48px 20px 16px;
  gap: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.container-title {
  font-family: "Lekton", sans-serif;
  font-size: 2.25rem;
  padding: 10px;
  font-weight: bold;
  text-align: right;
}
.container-p {
  font-family: "inria sans", sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  text-align: right;
  font-weight: 400;
}

.container-span {
  color: var(--cor-primaria);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: right;
}

.container__button {
  display: inline-block;
  text-align: right;
}

.container__button--saber {
  padding: 8px 16px;
  margin: 10px;
  font-family: "inria sans", sans-serif;
  font-size: 16px;
  border: 1px solid #ff9c2d;
  border-radius: 6px;
  background-color: transparent;
}

.container__button--interesse {
  padding: 8px 16px;
  margin: 10px;
  font-family: "inria sans", sans-serif;
  font-size: 16px;
  border: 1px solid #ff9c2d;
  border-radius: 6px;
  background-color: #ff9c2d;
}

/* /BANNER */

/* BENEFICIOS */

.beneficios__container {
  background-color: #fff0d1;
  display: flex;
  height: 360px;
}

.beneficios__header {
  display: flex;
  width: 95%;
}

.beneficios__title {
  display: flex;
  color: var(--cor-primaria);
  font-family: "lekton", sans-serif;
  font-size: 32px;
  font-weight: 700;
  border-left: 10px solid var(--cor-primaria);
  margin: 16px;
  padding-left: 0.3rem;
}

.beneficios__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.beneficios__group-container {
  display: flex;
  text-align: center;
  gap: 10%;
}

.beneficios__group-item {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: 32px 16px;
  width: 22rem;
  height: 12rem;
}

.beneficios--icon {
  font-size: 3.5rem;
  border: 1px solid #ff9c2d;
  max-width: fit-content;
  padding: 0.3rem;
}

.beneficios__group--first-title {
  font-size: 0.9rem;
  font-family: "inria sans", sans-serif;
  color: var(--cor-primaria);
  font-weight: 700;
}

.beneficios__group--second-title {
  font-size: 0.9rem;
  font-family: "inria sans", sans-serif;
  font-weight: 400;
}

/* /BENEFICIOS */

/* DEPOIMENTOS */

.depoimentos {
  color: white;
  background-color: black;
  height: 37rem;
}

.depoimentos__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.depoimentos__header {
  display: flex;
  width: 95%;
}

.depoimentos__title {
  display: flex;
  font-family: "lekton", sans-serif;
  font-size: 32px;
  font-weight: 700;
  border-left: 10px solid white;
  margin: 16px;
  padding-left: 0.3rem;
}

.depoimentos__container {
  display: flex;
  justify-content: space-around;
}

.depoimentos__text {
  width: 52%;
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "inria sans", sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.depoimentos__name {
  font-family: "lekton", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.depoimentos__local {
  font-family: "inria sans", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.depoimentos__img {
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
}

.depoimentos--img {
  width: 18rem;
  height: 26rem;
  border: 1px solid white;
  padding: 25px;
}

/* /DEPOIMENTOS */

/* MODELOS DE NEGÓCIOS */

.modelo-negocio {
  background-color: white;
  height: 668px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}


.modelo-negocio__header {
  display: flex;
  width: 95%;
}

.modelo-negocio__title {
  display: flex;
  color: var(--cor-primaria);
  font-family: "lekton", sans-serif;
  font-size: 32px;
  font-weight: 700;
  border-left: 10px solid var(--cor-primaria);
  margin: 16px;
  padding-left: 0.3rem;
}

.modelo-negocio__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15rem;
}

.modelo-negocio__bistro{
  display: flex;
  flex-direction: column;
}

.modelo-negocio__bistro--img{
  width: 30rem;
}

.modelo-negocio--list{
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  list-style-position: inside;
}

.modelo-negocio--list-item{
  font-size: 1rem;
  font-family: 'lekton', sans-serif;
  font-weight: 600;
  padding: 0.6rem;
}

.modelo{
  font-size: 1.7rem;
  font-family: 'lekton', sans-serif;
  background-color: var(--cor-primaria);
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 0.9rem;
}

.modelo-negocio__quiosque{
  display: flex;
  flex-direction: column;
}

.modelo-negocio__quiosque--img{
  width: 27.9rem;
}

/* /MODELOS DE NEGÓCIOS */
