* {
  box-sizing: border-box;
}

header {
  background-color: brown;
  color: aliceblue;
  width: 100vw;
}

.mobile-container {
  width: 100%;
  /* max-width: 480px; */
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.desktop-container {
  display: flex;
  background-color: #04aa6d;
  color: white;
  gap: 10vw;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 10px;
  font-family: 'times-new-roman', sans-serif;
}

.desktop-link{
    text-decoration: none;
    color: white
}

.desktop-link:hover{
    text-decoration: underline;
}

.menu-desktop {
  display: flex;
  list-style: none;
  gap: 10vw;
  
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04aa6d;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1920px){
    .topnav{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .desktop-container{
        display: none;
    }

    .topnav{
        display: block;
    }
    
}
