@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --cor-primaria: #aadcff;
    --cor-secundaria: #1298f8;
    --cor-action: #48D05F;
}


/* HEADER */

.header{
    background-color: var(--cor-primaria);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    font-weight: bold;
    color: #000000;
    font-family: "inter", sans-serif;
    font-size: 48px;
}

.header__title--blue{
    color: var(--cor-secundaria);
}

/* /HEADER */

/* MAIN */

main{
    height: 79vh;
    display: flex;
    align-items: center;
    background-image: url(../images/pizzaBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 350px 0; */
}

.form__title{
    font-weight: bold;
    color: #000000;
    font-family: "inter", sans-serif;
    font-size: 24px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 260px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 25px;
    background-color: var(--cor-primaria);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    left: 100px;
}

.form__control{
    width: 280px;
    height: 24px;
}

.form__btn{
    border-radius: 20px;
    padding: 16px 32px;
    background-color: #399ADE;
    color: #fff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form__btn:hover{
    cursor: pointer;
    background-color: #127cc7;
    color: #000000;
}

.form__btn--action{
    background-color: var(--cor-action);
}

.form__btn--action:hover{
    cursor: pointer;
    background-color: #319440;
    color: #000000;
}

/* /MAIN */

/* FOOTER */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 194px;
    background-color: var(--cor-primaria);
}

.footer__address{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding-left: 40px;
    line-height: 20px;
}

.footer__social{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 25px;
    font-weight: 600;
}

.footer__social-text{
    text-align: center;
}

.footer__social-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.footer__social-icon{
    width: 15px;
    margin: 7px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.footer__copy{
    display: flex;
    font-weight: 600;
    margin: 20px;
}

/* /FOOTER */