@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* HEADER */

.header{
    background-color: #E5F4FF;
    height: 136px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    font-weight: bold;
    color: #000000;
    font-family: "inter", sans-serif;
    font-size: 48px;
}

.header__title--blue{
    color: #1298F8;
}